html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
    
    
    
h1{
    color: rgb(255, 255, 255);
    text-align: left;    
    font-family: "Share Tech Mono", monospace;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 20);

}

h2{
    color: rgb(255, 255, 255);
    text-align: left;    
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 20);

}

body{
    background-color: rgb(255, 230, 0);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container{
    width: 80%;
    gap: 20px;
    padding: 20px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Share Tech Mono", monospace;
}
.card-portifolio{
    background-color: rgb(31, 31, 31);
    color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 500px;
    text-align: justify;
    justify-content: space-between;

}
.navbar{
    position:sticky;
    top: 10px;
    z-index: 1000;
    width: 98%;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}
.foto{
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.foto:hover{
    transform: scale(1.1)

}

header{
    justify-content: space-between; 
    align-items: center;
    flex-direction: row;
}

.cabecalho{
    color: white;
    text-decoration: none;
    margin: 0 50px;
    font-size: 20px;
    font-family: Impact, fantasy;
    justify-content: space-between;
    gap: 200px;
    display:inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    
}

.cabecalho:hover {
    transform: scale(1.1);
    color: rgb(255, 230, 0);
}

.logo{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    margin: 0 50px;
    height: 50px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    color: rgb(255, 230, 0);
}

.card-contato{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    display:inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    
}

.card-contato:hover {
    transform: scale(1.1);
    color: rgb(255, 230, 0);
}

.icone-contato{
    width: 50px;
    
}
.card-projeto{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    font-family: arial, lucida console, monospace;
    color:off-white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.card-projeto:hover {
    transform: scale(1.1);
    color: rgb(255, 230, 0);
}

.foto-projeto{
    width: 100px;
}

.contatos-wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.projetos-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.card-conhecimento{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    font-family: arial, lucida console, monospace;
    color:off-white;
    display:inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.card-conhecimento:hover {
    transform: scale(1.1);
    color: rgb(255, 230, 0);
}

.icone-conhecimento{
    display: flex;
    width: 100px;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

#nome{
    color: rgb(255, 230, 0);
    font-size: 50px;
}

.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}